<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.workmeout">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_appp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_appp_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.me.SearchRoutines"></activity>
        <activity android:name=".ui.me.SearchExercises" />
        <activity
            android:name=".ui.identification.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.identification.RecoverPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.identification.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.me.ChangePersonalInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.me.ExerciseRoutineAdapter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.me.MeFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.me.RoutineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sport.ExerciseActivity"
            android:label="@string/title_activity_exercise_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.sport.ExerciseDescriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sport.SportFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.talk.SearchPeople"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".intentoDeChat.Chat"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".PushNotifications.AlarmReceiver"
            android:enabled="true" />

        <service
            android:name=".PushNotifications.NotificationService"
            android:enabled="true" />
    </application>

</manifest>